
services:
  futu-opend:
    build:
      context: .
      args:
        FUTU_OPEND_VER: 8.2.4218
        BASE_IMG: ubuntu
    container_name: futu-opend
    stdin_open: true
    tty: true
    environment:
      - FUTU_OPEND_RSA_FILE_PATH=/.futu/futu.pem
    volumes:
      - $LOCAL_RSA_FILE_PATH:/.futu/futu.pem
    env_file:
      - .env

  