name: Deploy to DockerHub

on:
  workflow_dispatch:
    inputs:
      futu_opend_ver:
        description: 'Futu opend version'
        required: true
        default: '8.5.4508'
        type: string

jobs:
  build:
    strategy:
      matrix:
        BASE_IMG: [ubuntu, centos]
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      IMAGE_NAME: manhinhang/futu-opend-docker
      FUTU_OPEND_VER: ${{ inputs.futu_opend_ver }}
      BASE_IMG: ${{ matrix.BASE_IMG }}
    steps:
      - uses: actions/checkout@master
      - name: inputs
        run: |
          echo "Futu OpenD version: ${{ env.FUTU_OPEND_VER }}"
          echo "Base image: ${{ env.BASE_IMG }}"
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_CLIENT_ID }}
          password: ${{ secrets.DOCKERHUB_CLIENT_SECRET }}
      - name: build-push
        uses: docker/build-push-action@v4
        with:
          push: true
          build-args: |
            "FUTU_OPEND_VER=${{ env.FUTU_OPEND_VER }}"
            "BASE_IMG=${{ env.BASE_IMG }}"
          tags:
            ${{ env.IMAGE_NAME }}:${{ env.BASE_IMG }}-${{ env.FUTU_OPEND_VER }}
